{% extends 'base.jinja' %}

{% block content %}
  <main class="d-container d-box" style="--box-padding: calc(3 * var(--w)) 0">
    <h1 class="d-visually-hidden">
      {{ _('index') }}
    </h1>

    <h2>
      {{ _('index-why-datavizta') }}
    </h2>

    {{ _('index-why-datavizta-content')|safe }}

    <h2>
      {{ _('index-use-cases') }}
    </h2>

    <h3>
      {{ _('index-use-cases-multicriteria') }}
    </h3>

    {{ _('index-use-cases-multicriteria-content')|safe }}

    <h3>
      {{ _('index-use-cases-manufacturer') }}
    </h3>

    {{ _('index-use-cases-manufacturer-content')|safe }}
  </main>
{% endblock %}
